#searchform {
  padding: 3%;
}

#searchform > form {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  column-gap: 1em;
}

#searchform > form ion-datetime {
  position: absolute;
  top: 0px;
  left: -15px;
  width: 100%;
}

.fromtofield {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  column-gap: 1.8em;
  position: relative;
}

.fromtofield > mat-icon {
  position: absolute;
  top: -20px;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
  cursor: pointer;
}

.datetime {
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 1em;
}

.datetimefield {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
  column-gap: 1.5em;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1.5em;
  height: 60px;
}


.buttons > button {
  margin-right: 1em;
  width: 100%;
}

.morebutton {
  display: grid;
  place-items: center;
  margin-top: 2em;
  margin-bottom: 2em;
}

.spinner-container {
  display: grid;
  place-items: center;
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 80px;
  z-index: 9;
}

