.element-row:not(.expanded-row):hover {
  background: whitesmoke;
  cursor: pointer
}


mat-cell:first-of-type {
  padding-left: 0 !important;
}

.mat-column-transfers,
.mat-column-platform,
.mat-column-favorite {
  max-width: 90px;
  justify-content: center;
  display: grid;
}
