<div class="result">
  <mat-table [dataSource]="connections" matSort class="mat-elevation-z8">
    <!--Time Column-->
    <ng-container matColumnDef="time">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Time</mat-header-cell>
      <mat-cell *matCellDef="let connection"  class="grid-positioning">
        <mat-list-item>
          <div mat-line>{{connection.from.departure}}</div>
          <div mat-line>{{connection.to.arrival}}</div>
        </mat-list-item>
      </mat-cell>
    </ng-container>
    <!--Journey Column-->
    <ng-container matColumnDef="journey">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Journey</mat-header-cell>
      <mat-cell *matCellDef="let connection" class="grid-positioning">
        <mat-list-item>
          <div mat-line>{{ connection.duration }}</div>
          <div mat-line>{{ connection.products }}</div>
        </mat-list-item>
      </mat-cell>
    </ng-container>
    <!--Transfers Column-->
    <ng-container matColumnDef="transfers">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Transfers</mat-header-cell>
      <mat-cell *matCellDef="let connection" class="grid-positioning">
        <mat-list-item>
          <div mat-line>{{ connection.transfers }}</div>
        </mat-list-item>
      </mat-cell>
    </ng-container>
    <!--Platform Column-->
    <ng-container matColumnDef="platform">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Platform</mat-header-cell>
      <mat-cell *matCellDef="let connection">{{ connection.platform}}</mat-cell>
    </ng-container>
    <!--Favorite Column-->
    <ng-container matColumnDef="favorite">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Favorite</mat-header-cell>
      <mat-cell *matCellDef="let connection">
        <ion-checkbox
          *ngIf="tab === 'normal'"
          [checked]=connection.favorite
          (ionChange)="editFavoriteValue(connection, $event)" >
        </ion-checkbox>
        <button
          class="deleteIcon"
          mat-icon-button
          *ngIf="tab === 'favorite'"
          (click)="editFavoriteValue(connection); $event.preventDefault()"
          color="warn"
          >
          <mat-icon>delete_forever</mat-icon>
        </button>

      </mat-cell>
    </ng-container>
    <!-- Star Column -->
    <!-- <ng-container matColumnDef="star" stickyEnd>
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <mat-icon>star</mat-icon>
      </td>
    </ng-container> -->
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"

      class="element-row"
      (click)="openDetail(row)"

    ></mat-row>
  </mat-table>
  <!-- [ngClass]="{highlighted: selectedRowIndex == row.id}" -->
  <!-- <mat-paginator  [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->
</div>
