<div id="searchform">
  <form [formGroup]="searchform">
    <mat-form-field appearance="outline">
      <mat-label>From</mat-label>
      <input matInput formControlName="from" placeholder="From">
      <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>To</mat-label>
      <input matInput formControlName="to" placeholder="To">
      <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Choose a date</mat-label>
      <input matInput formControlName="datetime" [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </form>
  <div class="buttons">
    <button mat-raised-button color="primary" (click)="searchTransports()">Search</button>
    <button mat-stroked-button (click)="clearResults()">Clear</button>
  </div>

  <div class="result" *ngIf="resultview">
    <h3>RESULTS:</h3>
    <mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="time">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Time</mat-header-cell>
        <mat-cell *matCellDef="let element"  class="grid-positioning">
          <div mat-line>{{ element.sections[0] }}</div>
          <div mat-line>{{ element.sections[1] }}</div>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="journey">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Journey</mat-header-cell>
        <mat-cell *matCellDef="let element" class="grid-positioning">
          <div mat-line>{{ element.duration }}</div>
          <div mat-line>{{ element.products }}</div>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="platform">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Platform</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.platform}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="favorite">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Favorite</mat-header-cell>
        <mat-cell *matCellDef="let element">

          <mat-checkbox [checked]="element.favorite"
          (change)="addToFavorite($event.checked, element.id)">            
          </mat-checkbox>

        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator  [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>
