<div id="favoritecontainer">

<h3>FAVORITE CONNECTIONS:</h3>
    <mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="time">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Time</mat-header-cell>
        <mat-cell *matCellDef="let element"  class="grid-positioning">
          <div mat-line>{{ element.sections[0] }}</div>
          <div mat-line>{{ element.sections[1] }}</div>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="journey">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Journey</mat-header-cell>
        <mat-cell *matCellDef="let element" class="grid-positioning">
          <div mat-line>{{ element.duration }}</div>
          <div mat-line>{{ element.products }}</div>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="platform">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Platform</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.platform}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="favorite">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Delete</mat-header-cell>
        <mat-cell *matCellDef="let element">
        <button mat-raised-button color="warn" (click)="removeFavorite(element.id)">delete</button>
       </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator  [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>