<ion-header translucent>
  <ion-toolbar class="dialheader">
    <ion-icon slot="start" size="large" name="train"></ion-icon>
    <ion-title >
     {{journey.name}}  
    </ion-title>
    <ion-title *ngIf="journey.to !== null ? true : false" size="small">
      Direction {{journey.to}}
    </ion-title>    
    <ion-buttons slot="end">
      <ion-button color="light" (click)="onClose()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <mat-list class="passList">
      <div *ngFor="let pass of journey.passList" class="passInfo">
        <mat-list-item class="timetable_times">
          <div mat-line *ngIf="pass.arrival !== null">{{pass.arrival}}</div>
          <div mat-line *ngIf="pass.departure !== null">{{pass.departure}}</div>
        </mat-list-item>
        <mat-list-item class="timetable_content">
          <!-- <div mat-line>{{pass.station.name}} {{pass.platform !== null ? ', Platform ' + pass.platform : ''}}</div> -->
          <div mat-line>{{pass.station.name}}</div>
          <div mat-line *ngIf="pass.platform !== null">Platform {{pass.platform}}</div>
        </mat-list-item>
      </div>

    </mat-list>
</ion-content>
